In [1]:
import scipy.io as sio
import pandas as pd
import numpy as np
from datetime import datetime, date, time

In [2]:
data = sio.loadmat('data/imdb_meta/imdb.mat')

In [3]:
imdb_meta_data = sio.loadmat('data/imdb_meta/imdb.mat')

In [4]:
imdb_meta_data

{'__header__': b'MATLAB 5.0 MAT-file, Platform: GLNXA64, Created on: Sun Jan 17 11:30:27 2016',
 '__version__': '1.0',
 '__globals__': [],
 'imdb': array([[(array([[693726, 693726, 693726, ..., 726831, 726831, 726831]]), array([[1968, 1970, 1968, ..., 2011, 2011, 2011]], dtype=uint16), array([[array(['01/nm0000001_rm124825600_1899-5-10_1968.jpg'], dtype='<U43'),
         array(['01/nm0000001_rm3343756032_1899-5-10_1970.jpg'], dtype='<U44'),
         array(['01/nm0000001_rm577153792_1899-5-10_1968.jpg'], dtype='<U43'),
         ...,
         array(['08/nm3994408_rm926592512_1989-12-29_2011.jpg'], dtype='<U44'),
         array(['08/nm3994408_rm943369728_1989-12-29_2011.jpg'], dtype='<U44'),
         array(['08/nm3994408_rm976924160_1989-12-29_2011.jpg'], dtype='<U44')]],
       dtype=object), array([[1., 1., 1., ..., 0., 0., 0.]]), array([[array(['Fred Astaire'], dtype='<U12'),
         array(['Fred Astaire'], dtype='<U12'),
         array(['Fred Astaire'], dtype='<U12'), ...,
         array(['Jane Levy'], dtype='<U9'),
         array(['Jane Levy'], dtype='<U9'),
         array(['Jane Levy'], dtype='<U9')]], dtype=object), array([[array([[1072.926,  161.838, 1214.784,  303.696]]),
         array([[477.184, 100.352, 622.592, 245.76 ]]),
         array([[114.96964309, 114.96964309, 451.68657236, 451.68657236]]),
         ..., array([[  1,   1, 453, 640]], dtype=uint16),
         array([[144.75225472, 126.76472288, 305.78804127, 287.80050943]]),
         array([[457.524,  41.748, 518.016, 102.24 ]])]], dtype=object), array([[1.45969291, 2.5431976 , 3.45557949, ...,       -inf, 4.45072452,
         2.13350269]]), array([[1.11897336, 1.85200773, 2.98566022, ...,        nan,        nan,
                nan]]), array([[array(["'Lee' George Quinones"], dtype='<U21'),
         array(["'Weird Al' Yankovic"], dtype='<U19'),
         array(['2 Chainz'], dtype='<U8'), ...,
         array(['Éric Caravaca'], dtype='<U13'),
         array(['Ólafur Darri Ólafsson'], dtype='<U21'),
         array(['Óscar Jaenada'], dtype='<U13')]], dtype=object), array([[6488, 6488, 6488, ..., 8410, 8410, 8410]], dtype=uint16))]],
       dtype=[('dob', 'O'), ('photo_taken', 'O'), ('full_path', 'O'), ('gender', 'O'), ('name', 'O'), ('face_location', 'O'), ('face_score', 'O'), ('second_face_score', 'O'), ('celeb_names', 'O'), ('celeb_id', 'O')])}

In [5]:
#Getting values that matter
imdb_meta_data = imdb_meta_data['imdb']

In [6]:
type(imdb_meta_data)

numpy.ndarray

In [7]:
imdb_meta_data.shape

(1, 1)

In [8]:
imdb_meta_data.dtype

dtype([('dob', 'O'), ('photo_taken', 'O'), ('full_path', 'O'), ('gender', 'O'), ('name', 'O'), ('face_location', 'O'), ('face_score', 'O'), ('second_face_score', 'O'), ('celeb_names', 'O'), ('celeb_id', 'O')])

In [10]:
columns = imdb_meta_data.dtype.names

In [11]:
columns #Columns names for dataframe that will be created from this data

('dob',
 'photo_taken',
 'full_path',
 'gender',
 'name',
 'face_location',
 'face_score',
 'second_face_score',
 'celeb_names',
 'celeb_id')

In [13]:
imdb_meta_data

array([[(array([[693726, 693726, 693726, ..., 726831, 726831, 726831]]), array([[1968, 1970, 1968, ..., 2011, 2011, 2011]], dtype=uint16), array([[array(['01/nm0000001_rm124825600_1899-5-10_1968.jpg'], dtype='<U43'),
        array(['01/nm0000001_rm3343756032_1899-5-10_1970.jpg'], dtype='<U44'),
        array(['01/nm0000001_rm577153792_1899-5-10_1968.jpg'], dtype='<U43'),
        ...,
        array(['08/nm3994408_rm926592512_1989-12-29_2011.jpg'], dtype='<U44'),
        array(['08/nm3994408_rm943369728_1989-12-29_2011.jpg'], dtype='<U44'),
        array(['08/nm3994408_rm976924160_1989-12-29_2011.jpg'], dtype='<U44')]],
      dtype=object), array([[1., 1., 1., ..., 0., 0., 0.]]), array([[array(['Fred Astaire'], dtype='<U12'),
        array(['Fred Astaire'], dtype='<U12'),
        array(['Fred Astaire'], dtype='<U12'), ...,
        array(['Jane Levy'], dtype='<U9'),
        array(['Jane Levy'], dtype='<U9'),
        array(['Jane Levy'], dtype='<U9')]], dtype=object), array([[array([[1072.926,  161.838, 1214.784,  303.696]]),
        array([[477.184, 100.352, 622.592, 245.76 ]]),
        array([[114.96964309, 114.96964309, 451.68657236, 451.68657236]]),
        ..., array([[  1,   1, 453, 640]], dtype=uint16),
        array([[144.75225472, 126.76472288, 305.78804127, 287.80050943]]),
        array([[457.524,  41.748, 518.016, 102.24 ]])]], dtype=object), array([[1.45969291, 2.5431976 , 3.45557949, ...,       -inf, 4.45072452,
        2.13350269]]), array([[1.11897336, 1.85200773, 2.98566022, ...,        nan,        nan,
               nan]]), array([[array(["'Lee' George Quinones"], dtype='<U21'),
        array(["'Weird Al' Yankovic"], dtype='<U19'),
        array(['2 Chainz'], dtype='<U8'), ...,
        array(['Éric Caravaca'], dtype='<U13'),
        array(['Ólafur Darri Ólafsson'], dtype='<U21'),
        array(['Óscar Jaenada'], dtype='<U13')]], dtype=object), array([[6488, 6488, 6488, ..., 8410, 8410, 8410]], dtype=uint16))]],
      dtype=[('dob', 'O'), ('photo_taken', 'O'), ('full_path', 'O'), ('gender', 'O'), ('name', 'O'), ('face_location', 'O'), ('face_score', 'O'), ('second_face_score', 'O'), ('celeb_names', 'O'), ('celeb_id', 'O')])

In [14]:
data = {column : imdb_meta_data[column][0,0][0] for column in columns} #creating a dictionary, to easily pass into dataframe

In [15]:
data

{'dob': array([693726, 693726, 693726, ..., 726831, 726831, 726831]),
 'photo_taken': array([1968, 1970, 1968, ..., 2011, 2011, 2011], dtype=uint16),
 'full_path': array([array(['01/nm0000001_rm124825600_1899-5-10_1968.jpg'], dtype='<U43'),
        array(['01/nm0000001_rm3343756032_1899-5-10_1970.jpg'], dtype='<U44'),
        array(['01/nm0000001_rm577153792_1899-5-10_1968.jpg'], dtype='<U43'),
        ...,
        array(['08/nm3994408_rm926592512_1989-12-29_2011.jpg'], dtype='<U44'),
        array(['08/nm3994408_rm943369728_1989-12-29_2011.jpg'], dtype='<U44'),
        array(['08/nm3994408_rm976924160_1989-12-29_2011.jpg'], dtype='<U44')],
       dtype=object),
 'gender': array([1., 1., 1., ..., 0., 0., 0.]),
 'name': array([array(['Fred Astaire'], dtype='<U12'),
        array(['Fred Astaire'], dtype='<U12'),
        array(['Fred Astaire'], dtype='<U12'), ...,
        array(['Jane Levy'], dtype='<U9'),
        array(['Jane Levy'], dtype='<U9'),
        array(['Jane Levy'], dtype='<U9')], dtype=object),
 'face_location': array([array([[1072.926,  161.838, 1214.784,  303.696]]),
        array([[477.184, 100.352, 622.592, 245.76 ]]),
        array([[114.96964309, 114.96964309, 451.68657236, 451.68657236]]),
        ..., array([[  1,   1, 453, 640]], dtype=uint16),
        array([[144.75225472, 126.76472288, 305.78804127, 287.80050943]]),
        array([[457.524,  41.748, 518.016, 102.24 ]])], dtype=object),
 'face_score': array([1.45969291, 2.5431976 , 3.45557949, ...,       -inf, 4.45072452,
        2.13350269]),
 'second_face_score': array([1.11897336, 1.85200773, 2.98566022, ...,        nan,        nan,
               nan]),
 'celeb_names': array([array(["'Lee' George Quinones"], dtype='<U21'),
        array(["'Weird Al' Yankovic"], dtype='<U19'),
        array(['2 Chainz'], dtype='<U8'), ...,
        array(['Éric Caravaca'], dtype='<U13'),
        array(['Ólafur Darri Ólafsson'], dtype='<U21'),
        array(['Óscar Jaenada'], dtype='<U13')], dtype=object),
 'celeb_id': array([6488, 6488, 6488, ..., 8410, 8410, 8410], dtype=uint16)}

In [28]:
for c in data:
    print(len(data[c]))
#Finding the length of each array in the dataframe, celeb_names doens't have enough information

460723
460723
460723
460723
460723
460723
460723
460723
20284
460723

In [23]:
len(data['dob'])

460723

In [34]:
len(data['celeb_names'])

20284

In [36]:
del data['celeb_names']

In [39]:
df = pd.DataFrame(data)

In [48]:
df.head(15)

,dob,photo_taken,full_path,gender,name,face_location,face_score,second_face_score,celeb_id
0,693726,1968,[01/nm0000001_rm124825600_1899-5-10_1968.jpg],1.0,[Fred Astaire],"[[1072.926, 161.838, 1214.7839999999999, 303.6...",1.459693,1.118973,6488
1,693726,1970,[01/nm0000001_rm3343756032_1899-5-10_1970.jpg],1.0,[Fred Astaire],"[[477.184, 100.352, 622.592, 245.76]]",2.543198,1.852008,6488
2,693726,1968,[01/nm0000001_rm577153792_1899-5-10_1968.jpg],1.0,[Fred Astaire],"[[114.96964308962852, 114.96964308962852, 451....",3.455579,2.985660,6488
3,693726,1968,[01/nm0000001_rm946909184_1899-5-10_1968.jpg],1.0,[Fred Astaire],"[[622.8855056426588, 424.21750383700805, 844.3...",1.872117,NaN,6488
4,693726,1968,[01/nm0000001_rm980463616_1899-5-10_1968.jpg],1.0,[Fred Astaire],"[[1013.8590023603723, 233.8820422075853, 1201....",1.158766,NaN,6488
5,702986,1991,[02/nm0000002_rm1075631616_1924-9-16_1991.jpg],0.0,[Lauren Bacall],"[[686.6768205940973, 458.4672137293982, 1198.1...",3.490563,1.345335,11516
6,702986,2004,[02/nm0000002_rm1346607872_1924-9-16_2004.jpg],0.0,[Lauren Bacall],"[[78.23569406558903, 52.335129377059346, 194.2...",3.479189,NaN,11516
7,702986,2004,[02/nm0000002_rm1363385088_1924-9-16_2004.jpg],0.0,[Lauren Bacall],"[[64.30867103752385, 64.30867103752385, 207.26...",3.870171,NaN,11516
8,702986,1991,[02/nm0000002_rm1411175936_1924-9-16_1991.jpg],0.0,[Lauren Bacall],"[[212.7672369223355, 1055.6441846116777, 526.7...",3.786499,3.629704,11516
9,702986,2004,[02/nm0000002_rm1447271168_1924-9-16_2004.jpg],0.0,[Lauren Bacall],"[[242.176, 49.664, 278.528, 86.016]]",3.472944,2.945133,11516
10,702986,2008,[02/nm0000002_rm1624085760_1924-9-16_2008.jpg],0.0,[Lauren Bacall],"[[108.03894850648923, 28.82624960697085, 158.4...",3.862811,1.525307,11516
11,702986,1991,[02/nm0000002_rm1646056960_1924-9-16_1991.jpg],0.0,[Lauren Bacall],"[[72.28774564077851, 1055.6441846116777, 386.3...",3.767166,3.463460,11516
12,702986,1974,[02/nm0000002_rm221957120_1924-9-16_1974.jpg],0.0,[Lauren Bacall],"[[3173.144692593433, 401.0408365741791, 4059.1...",4.096431,NaN,11516
13,702986,2007,[02/nm0000002_rm2287049216_1924-9-16_2007.jpg],0.0,[Lauren Bacall],"[[138.80620247948153, 33.92673852953003, 181.1...",3.482030,NaN,11516
14,702986,1974,[02/nm0000002_rm238734336_1924-9-16_1974.jpg],0.0,[Lauren Bacall],"[[2135.2177839424635, 765.8537799794512, 3499....",4.865421,NaN,11516

In [41]:
df.dtypes

dob                    int32
photo_taken           uint16
full_path             object
gender               float64
name                  object
face_location         object
face_score           float64
second_face_score    float64
celeb_id              uint16
dtype: object

In [43]:
wiki_data = sio.loadmat('data/wiki/wiki.mat')['wiki']
wiki_data

array([[(array([[723671, 703186, 711677, ..., 720620, 723893, 713846]]), array([[2009, 1964, 2008, ..., 2013, 2011, 2008]], dtype=uint16), array([[array(['17/10000217_1981-05-05_2009.jpg'], dtype='<U31'),
        array(['48/10000548_1925-04-04_1964.jpg'], dtype='<U31'),
        array(['12/100012_1948-07-03_2008.jpg'], dtype='<U29'), ...,
        array(['09/9998109_1972-12-27_2013.jpg'], dtype='<U30'),
        array(['00/9999400_1981-12-13_2011.jpg'], dtype='<U30'),
        array(['80/999980_1954-06-11_2008.jpg'], dtype='<U29')]],
      dtype=object), array([[1., 1., 1., ..., 1., 1., 0.]]), array([[array(['Sami Jauhojärvi'], dtype='<U15'),
        array(['Dettmar Cramer'], dtype='<U14'),
        array(['Marc Okrand'], dtype='<U11'), ...,
        array(['Michael Wiesinger'], dtype='<U17'),
        array(['Johann Grugger'], dtype='<U14'),
        array(['Greta Van Susteren'], dtype='<U18')]], dtype=object), array([[array([[111.29109473, 111.29109473, 252.66993082, 252.66993082]]),
        array([[252.4833023 , 126.68165115, 354.53192596, 228.73027481]]),
        array([[113.52, 169.84, 366.08, 422.4 ]]), ...,
        array([[169.88839786,  74.31669472, 235.2534231 , 139.68171997]]),
        array([[1, 1, 1, 1]], dtype=uint8),
        array([[ 92.72633235,  62.0435549 , 230.12083087, 199.43805342]])]],
      dtype=object), array([[4.30096239, 2.6456395 , 4.32932883, ..., 3.49430317,       -inf,
        5.48691655]]), array([[       nan, 1.94924791,        nan, ...,        nan,        nan,
               nan]]))]],
      dtype=[('dob', 'O'), ('photo_taken', 'O'), ('full_path', 'O'), ('gender', 'O'), ('name', 'O'), ('face_location', 'O'), ('face_score', 'O'), ('second_face_score', 'O')])

In [46]:
wiki_columns = wiki_data.dtype.names

In [47]:
wiki_data = {column : wiki_data[column][0,0][0] for column in wiki_columns}

In [49]:
wiki_data

{'dob': array([723671, 703186, 711677, ..., 720620, 723893, 713846]),
 'photo_taken': array([2009, 1964, 2008, ..., 2013, 2011, 2008], dtype=uint16),
 'full_path': array([array(['17/10000217_1981-05-05_2009.jpg'], dtype='<U31'),
        array(['48/10000548_1925-04-04_1964.jpg'], dtype='<U31'),
        array(['12/100012_1948-07-03_2008.jpg'], dtype='<U29'), ...,
        array(['09/9998109_1972-12-27_2013.jpg'], dtype='<U30'),
        array(['00/9999400_1981-12-13_2011.jpg'], dtype='<U30'),
        array(['80/999980_1954-06-11_2008.jpg'], dtype='<U29')],
       dtype=object),
 'gender': array([1., 1., 1., ..., 1., 1., 0.]),
 'name': array([array(['Sami Jauhojärvi'], dtype='<U15'),
        array(['Dettmar Cramer'], dtype='<U14'),
        array(['Marc Okrand'], dtype='<U11'), ...,
        array(['Michael Wiesinger'], dtype='<U17'),
        array(['Johann Grugger'], dtype='<U14'),
        array(['Greta Van Susteren'], dtype='<U18')], dtype=object),
 'face_location': array([array([[111.29109473, 111.29109473, 252.66993082, 252.66993082]]),
        array([[252.4833023 , 126.68165115, 354.53192596, 228.73027481]]),
        array([[113.52, 169.84, 366.08, 422.4 ]]), ...,
        array([[169.88839786,  74.31669472, 235.2534231 , 139.68171997]]),
        array([[1, 1, 1, 1]], dtype=uint8),
        array([[ 92.72633235,  62.0435549 , 230.12083087, 199.43805342]])],
       dtype=object),
 'face_score': array([4.30096239, 2.6456395 , 4.32932883, ..., 3.49430317,       -inf,
        5.48691655]),
 'second_face_score': array([       nan, 1.94924791,        nan, ...,        nan,        nan,
               nan])}

In [51]:
wiki_df = pd.DataFrame(wiki_data)
wiki_df.head()

,dob,photo_taken,full_path,gender,name,face_location,face_score,second_face_score
0,723671,2009,[17/10000217_1981-05-05_2009.jpg],1.0,[Sami Jauhojärvi],"[[111.29109473290997, 111.29109473290997, 252....",4.300962,NaN
1,703186,1964,[48/10000548_1925-04-04_1964.jpg],1.0,[Dettmar Cramer],"[[252.48330229530742, 126.68165114765371, 354....",2.645639,1.949248
2,711677,2008,[12/100012_1948-07-03_2008.jpg],1.0,[Marc Okrand],"[[113.52, 169.83999999999997, 366.08, 422.4]]",4.329329,NaN
3,705061,1961,[65/10001965_1930-05-23_1961.jpg],1.0,[Aleksandar Matanović],"[[1, 1, 634, 440]]",-inf,NaN
4,720044,2012,[16/10002116_1971-05-31_2012.jpg],0.0,[Diana Damrau],"[[171.61031405173117, 75.57451239763239, 266.7...",3.408442,NaN

In [53]:
#Not cominbining dataframes just yet because the jpg files are in different folders but this is not shown in the full_path

In [54]:
df.to_csv('imdb_df.csv', index= False)
wiki_df.to_csv('wiki_df.csv', index = False)